body { 
    margin:100px; 
      background-color: hsl(233, 47%, 7%);
    justify-content: center;
  font-family: "Lexend Deca", sans-serif;
  align-items: center;

}

.fc > * {
  margin:px;
  padding:20px; 
  background-color:;
  border-radius: px;
}

/* initialize flexbox container and flexbox items */
.fc { 
  display:flex;
  flex-flow: row wrap-reverse;
}
.fc > * { 
  flex: 1; 
}
.fc > * { min-width: 200px; } 

/* ensure flex-container is always at least as tall as the viewport, 
minus the height of the header and footer combined. 
*/
.fc { min-height: 50vh
} 
.info {
    background-color: hsl(244, 38%, 16%);
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 10px;
  border-radius: ;
    font-family: "Inter", sans-serif;
  font-weight: 400;

}
main {
    background-color: hsl(277, 64%, 61%);
    border-radius: ;
    padding: ;
}
.graphic {
    background-image:url(images/image-header-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  background-color: hsl(277, 64%, 61%);
    background-blend-mode: multiply;
    width: auto;
    
        
}
/*
.image-header img {
  opacity: 0.7;
  height: %;
  width: ;
  border-radius:;
  object-fit: cover;
  mix-blend-mode: multiply;
}*/
.mobile {
  display: block;
}
.desktop {
  display: none;
}

.main-paragraph {
  color: hsla(0, 0%, 100%, 0.75);
}
.stat-heading {
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
  font-size: small;
  font-weight: 700;
}
h2 {
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  padding: px;
}
.status {
  padding-bottom: 25px;
}
.stat {
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: px;
}

.accent {
  color: hsl(277, 64%, 61%);
}
.attribution {
  color: white;
  text-align: center;
}
.attribution a {
  color: yellow;
}
footer{
    align-content: center;
    padding-top: 100;
}
